{% extends 'nav.html' %}
{% load static %}
{% block title %}
sheryians
{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'courses.css' %}">
{% endblock css %}
{% block data %}
<h1 style="font-size: 5vw; margin-left: 5vw;">we're not a <span style="color: aqua;">Course</span><br>Factory.</h1>
<h1 style="margin-left: 5vw;">We focus on course that really help</h1>
<div id="arr">
    <p>Courses which do work &#8595</p>
</div>
<div id="content1">
    <div class="bott">
        <img class="image" src="" alt="">
        <div class="con"><h2>Front-End Domination:<p>Create Anything with code</p></h2>
            <p style="width: 5vw; height: 3vh; background-color: black;border-radius: 3px;">HINDI</p>
            <span style="color: green;">Black Friday Sale</span>
            <div class="left">$4999 <del>$9999</del></div>
            <div class="right">50% OFF</div>
        </div>
        <br>
        <div style="width: 25vw; height: 5vh; background-color: aqua; text-align: center; border-radius: 5px;"><h3>View Details</h3></div>
    </div>
    <div class="bott">
        <img class="image" src="" alt="">
        <div class="con"><h2>Back-End <p>Create Efficient Back-End</p></h2></div>
        <span style="width: 5vw; height: 3vh; background-color: black; border-radius: 3px;">HINDI</span>
    </div>
</div>