<!-- {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'home.css' %}"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <!-- <script src="{% static 'home.js' %}"></script>
</head>
<body> -->
        <!-- <ul>
            <li class="list" style="float: left;"><i style="color: blue;" class="fa-solid fa-google-drive"></i>IT-Google Drive</li>
            <li class="list" style="float: left;"><i style="color: aqua;" class="fa-brands fa-python"></i>Chatgpt</li>
            <li class="list" style="float: left;"><i style="background-image: linear-gradient(orange,yellow);" class="fa-solid fa-envelope"></i>Gmail</li>
            <li class="list" style="float: left;"><i style="background-image: linear-gradient(yellow,red);" class="fa-brands fa-youtube"></i>Youtube</li>
            <li class="list" style="float: left;"><i style="color: skyblue;" class="fa-solid fa-cloud"></i>Mega</li>
        </ul> -->
    <!-- <nav>
        <div class="header">
            <div class="left">
                <img src="https://ik.imagekit.io/sheryians/Sheryians_logo_EzwgcppnD" alt="">
                <span id="coding">Sheryians coding school</span>
            </div>
                <div class="right">
                    <a class="anchors" href="{% url 'app:home' %}">Home</a>
                    <a class="anchors" href="{% url 'app:courses' %}">Courses</a>
                    <a class="anchors" href="{% url 'app:bootcamp' %}">BootCamp(kodr)</a>
                    <a class="anchors" href="{% url 'app:requestcallback' %}">RequestCallBack</a>
                    <button id="signin_button"><a class="anchor_buttons" href="{% url 'app:signin' %}"></a> SignIn</button>
                </div>
        </div> 
    </nav>
        <pre id="pre_one">
            We only <span class="span_color">teach</span>
          what we are really
            really <i>good</i> at.
        </pre><br>
        <button id="check_button" class="buttons"><a class="anchor_buttons" href=""></a> check courses - make an effect</button>
        <div id="div">
            <pre id="pre_two">
                Get ready to <span class="span_color">accelerate your 
                carrer</span> with customarized courses and leave your mark in the teach
                industry
            </pre>
        </div>
        <div id="students_taught" class="divisions">
            <pre class="pre_content">
                <span class="span_content">25k+</span>students taught
            </pre>
        </div>
        <br>
        <div class="divisions" id="instructors">
            <pre class="pre_content">
                <span class="span_content">20k+</span>
                Instructors
            </pre>
        </div>
        <br>
        <div class="divisions" id="youtube_subs">
            <pre class="pre_content">
                <span class="span_content">431k+</span>
                Youtube Subs
            </pre>
        </div>
        <h1 style="text-align: center; font-size: 50px;">we do whatever it takes to help you <span class="span_color">understand the concepts</span></h1>
        <header>
            <h1 style="text-align: center; font-size: 50px;">Top <span class="span_color">companies</span></h1>
            <img src="{% static 'companies.jpg' %}" alt="">
        </header>
</body>
</html> -->
{% extends 'data.html' %}
{% load static %}
{% block title %}
{% endblock title %}